<div class="twelve columns">
	<div class="nine columns">
		&nbsp;
	</div>
	<div class="three columns">
		<div class="right" style="margin: 10px 0;padding:10px">
			<%= link_to image_tag('twitter-icon.png'), '#' %>
			<%= link_to image_tag('facebook-icon.png'), '#' %>
		</div>
	</div>
</div>